.popup__exp {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

}
@media (min-width: $phone-landscape) {
  .popup__exp {

  }
}
@media (min-width: $tablet-portrait) {
  .popup__exp {

  }
}
@media (min-width: $tablet-landscape) {
  .popup__exp {

  }
}
@media (min-width: $desktop) {
  .popup__exp {

  }
}