.error-404 {
  text-align: center;

}
@media (min-width: $phone-landscape) {
  .error-404 {

  }
}
@media (min-width: $tablet-portrait) {
  .error-404 {

  }
}
@media (min-width: $tablet-laptop) {
  .error-404 {

    h1{
      font-size: .4em;
    }

  }
}
@media (min-width: $desktop) {
  .error-404 {

  }
}

